<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="emailStyle.css"> -->

    <style>
        table {
            border: solid #585858 1px;
            /* border-radius: 0.5rem; */
            border-collapse: collapse;
        }
        th, td {
            border: solid #585858 1px;
            padding: 0.3rem;
            text-align: center; /* Allinea il testo al centro delle celle */
            color: black;
        }
        th{
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>

    <!-- Identificativo	Fornitore	Nome Prodotto	Data Ordine	Unità Ordinate	U.M.1	Confezioni Ordinate	U.M.2 -->
    <table>
        <tr>
          <th>Identificativo</th>  
          <th>Fornitore</th>
          <th>Prodotto</th>
          <th>Data<br />Ordine</th>
          <th>Unità<br />Ordinate</th>
          <th>U.M.1</th>
          <th>Confezioni<br />Ordinate</th>
          <th>U.M.2</th>
        </tr>
        <tr th:each="order : ${orders}">
          <td th:text="${order.productCode}"></td>
          <td th:text="${order.supplierName}"></td>
          <td th:text="${order.productName}"></td>
          <td th:text="${order.orderDate}"></td>
          <td th:text="${order.unitOrderedQuantity}"></td>
          <td th:text="${order.unitType}"></td>
          <td th:text="${order.packagingOrderedQuantity}"></td>
          <td th:text="${order.packagingType}"></td>
        </tr>
      </table>
      <!-- th:text="${order.supplierName}" -->
      <!-- th:text="${order.productName}" -->






    <!-- <h1>Ciao sono la mail di prova, campo 1 = <span th:text="${campo1}"></span></h1>
    <h1>Ciao sono la mail di prova, campo 2 = <span th:text="${campo2}"></span></h1>
    <ul>
        <li th:each="person : ${persons}">
            <span th:text="${person.firstName}">First Name</span> <span th:text="${person.lastName}">Last Name</span>
        </li>
    </ul> -->

</body>
</html>