<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ciao sono la mail di prova, campo 1 = <span th:text="${campo1}"></span></h1>
    <h1>Ciao sono la mail di prova, campo 2 = <span th:text="${campo2}"></span></h1>
    <ul>
        <li th:each="person : ${persons}">
            <span th:text="${person.firstName}">First Name</span> <span th:text="${person.lastName}">Last Name</span>
        </li>
    </ul>

</body>
</html>